  <app-header></app-header>
  <section class="login">
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup] ="loginForm">
      <div>
        <h2>Login</h2>
      </div>
      <mat-form-field> 
        <input formControlName="email" matInput type="email" id="email" placeholder="Email">
        <mat-error *ngIf="loginForm.controls.email.hasError('required')">{{errors.required}}</mat-error>
        <mat-error *ngIf="loginForm.controls.email.hasError('email')">{{errors.emailInvalid}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" matInput type="password" id="password" placeholder="Password">
        <mat-error *ngIf="loginForm.controls.password.hasError('required')">{{errors.required}}</mat-error>
      <mat-error
        *ngIf="loginForm.controls.password.hasError('minlength') || loginForm.controls.password.hasError('maxlength')">
        {{errors.passwordLength}}</mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="loginForm.invalid" type="submit" color="primary" (click) = "login()">Login</button>
    </form>
    <div fxLayout="column" fxLayoutAlign="center center" class="title-div">
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </div>
  </section>

