.login{
  position: relative;
  margin-top: 2%;
}

.login-page-title {
  margin-top: 5%;
}

// button{
//   background-color: rgb(131, 45, 189);
//   color: white;
// }

form {
  position: relative;
  margin-top: 2%;
}