<!-- <div class="container mt-5">
  <div *ngIf="!articles" class="text-center mt-4">
    <p>Nothing found.</p>
  </div>
  <div *ngIf="articles">
    <li *ngFor="let article of articles">
      <div class="row">
        <div class="col-lg-4 col-md-12">
          <img src="https://mdbootstrap.com/img/Others/documentation/img%20(75)-mini.jpg" alt="thumbnail"
            class="img-thumbnail" style="width: 200px">
        </div>

        <div class="col">
          <h4>Title</h4>
          <h5>Author</h5>
          <p>Text</p>
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </div>
      </div>

     
      </li>
    </div>

</div> -->
<!-- <mdb-card>
                <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                  <mdb-card-img src="" alt="Card image cap"></mdb-card-img>
                  <a>
                    <div class="mask"></div>
                  </a>
                </div>
                <mdb-card-body>
                  {{article.title}}
                  <mdb-card-title>
                    <h4>{{article.author}}</h4>
                  </mdb-card-title>
                  <mdb-card-text>{{article.text}}</mdb-card-text>
              
                  <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                </mdb-card-body>
            </mdb-card> -->

<section class="mt-5">

  <div class="text-center mt-5">
    <h1 class="text-muted text-default">Welcome to Travel Journal!</h1>
    <p class="mt-4 font-italic text-info">The World's Friendliest Trave Community</p>
  </div>
  <div class="container mt-5">

    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>
    <p>works!</p>

  </div>

</section>