<app-header></app-header>
<section class="register">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" [formGroup]="regForm">
    <div>
      <h2>Register</h2>
    </div>
    <mat-form-field>
      <input formControlName="username" matInput type="text" id="username"  placeholder="Username">
      <mat-error *ngIf="regForm.controls.username.hasError('required')">{{errors.required}}</mat-error>
      <mat-error
        *ngIf="regForm.controls.username.hasError('minlength') || regForm.controls.username.hasError('maxlength')">
        {{errors.usernameLength}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" matInput type="email" id="email" placeholder="Email">
      <mat-error *ngIf="regForm.controls.email.hasError('required')">{{errors.required}}</mat-error>
      <mat-error *ngIf="regForm.controls.email.hasError('email')">{{errors.emailInvalid}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" matInput type="password" id="password" placeholder="Password">
      <mat-error *ngIf="regForm.controls.password.hasError('required')">{{errors.required}}</mat-error>
      <mat-error
        *ngIf="regForm.controls.password.hasError('minlength') || regForm.controls.password.hasError('maxlength')">
        {{errors.passwordLength}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="confirmPassword" matInput type="password" id="confirmPassword" placeholder="Confirm Password">
      <mat-error *ngIf="regForm.controls.confirmPassword.hasError('required')">{{errors.required}}</mat-error>
      <mat-error *ngIf="regForm.controls.confirmPassword.errors?.notMatch">{{errors.passwordsNotMatch}}</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="regForm.invalid" type="submit" color="primary" (click)="register()">Register</button>
  </form>
  <div fxLayout="column" fxLayoutAlign="center center" class="title-div">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
  </div>
</section>