<mat-card>
  <mat-card-header>
    <!-- title -->
    <mat-card-title>
      {{post.title}} 
        <mat-icon matBadge={{post.likes.length}} color="pink">favorite</mat-icon>
    </mat-card-title>
    <!-- author -->
    <a class="author-link" routerLink="" (click)="getUserPosts(post)">{{post.author}}</a>
  </mat-card-header>
  <!-- image -->
  <img mat-card-image src="{{ post.imgUrl }}" alt="Photo" />
  <!-- Post date, likes and dislikes info -->
  <div fxLayout="row" fxLayoutGap="1em" class="card-text">
    <mat-card-subtitle fxLayout="column" fxFlexAlign="start"> {{ post.createdOn | date: 'MMM d, y, hh:mm' }}
    </mat-card-subtitle>
  </div>
  <!-- Content -->
  <mat-card-content fxLayoutAlign="center center"
    [innerHtml]="(post.text.length> 100)? (post.text | slice:0:200)+'...':(post.text)"></mat-card-content>
  <!-- Actions -->
  <mat-card-actions fxLayoutGap="1em" fxLayoutAlign="end">
    <button mat-fab (click)="getPostInfo(post.id)" color="aqua">
      <mat-icon color="white">pageview</mat-icon>
    </button>
    <!-- Actions for post author when in user/posts page -->
    <ng-template #authorized>
      <button mat-raised-button (click)="getEditPost(post.id)" color="blue">
        Edit <mat-icon color="white">edit</mat-icon>
      </button>
      <button mat-raised-button (click)="deletePost()" color="warn">
        Delete <mat-icon color="white">delete</mat-icon>
      </button>
    </ng-template>
    <ng-container *ngIf="(isAuthor$ && isUPostPage$) then authorized;"></ng-container>
  </mat-card-actions>

</mat-card>