<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal teal teal lighten-2" [containerInside]="false">
  <mdb-navbar-brand class="nav-item dropdown"><a class="navbar-brand" href="#"></a>
  </mdb-navbar-brand>

  <links>
    <!-- <form class="form-inline">
      <form class="form-inline">
          <button mdbBtn color="success" outline="true" class="waves-light" mdbWavesEffect type="button">Main button</button>
          <button mdbBtn color="secondary" outline="true" size="sm" class="align-middle waves-light" mdbWavesEffect type="button">Smaller button</button>
      </form>
  </form> -->


    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/trending">Trending</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/recent">Recent</a>
      </li>

      <!-- <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" outline="true" href="#"
          class="navbar-brand nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary blue-grey lighten-5" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Settings</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Settings</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Logout</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li> -->
    </ul>
    <form class="form-inline waves-light mr-auto nav-flex-icons" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control text-primary" type="text" placeholder="Search" aria-label="Search">
        <button type="button" mdbBtn floating=true class="waves-light " outline=true color="white" mdbWavesEffect><i class="material-icons">search</i></button>
      </div>
    </form>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/user/notifications"><i class="large material-icons text-darken-4">notifications</i>num</a>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect>
          <i class="large material-icons text-darken-4">account_circle</i>
          User</a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary teal lighten-5" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/user/profile">Profile</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/user/settings">Settings</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="#">Log out</a>
        </div>
      </li>
    </ul>


  </links>

</mdb-navbar>