<ul class="pTFixed" fxFlex fxLayout fxLayoutGap="15px" >
    <li *ngIf="!user">
      <a routerLink="/login">Login</a>
    </li>
    <li *ngIf="!user">
      <a routerLink="/register">Register</a>
    </li>
    <li *ngIf="user">
      <a routerLink="/user/notifications">
        <mat-icon>notifications</mat-icon>num Notifications
      </a>
    </li>
    <li *ngIf="user">
      <a routerLink="/user/profile">
        <mat-icon>account_circle</mat-icon>Profile
      </a>
    </li>
    <li *ngIf="user">
      <a routerLink="/logout">LogOut</a>
    </li>
  </ul>

