<div style="height: 100vh;">
    <ng-container>
        <app-toolbar (onToggleSidenav)="sidenav.toggle()"></app-toolbar>
        <mat-sidenav-container fxFlexFill>
            <mat-sidenav #sidenav role="navigation" fxLayout="column" mode="over" opened="false">
                <app-side-nav></app-side-nav>
            </mat-sidenav>

            <mat-sidenav-content fxFlexFill>
                <main>
                    <router-outlet></router-outlet>
                </main>
                <footer>
                    <app-footer></app-footer>
                </footer>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </ng-container>
</div>