<section fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
    <section class="section">
        <label class="margin">Order By</label>
        <mat-radio-group name="sort" (change)="onChange($event)" checked>
                <mat-radio-button class="margin" value="sortByDate">
                  Date
                </mat-radio-button>
                <mat-radio-button class="margin" value="sortByLikes">
                  Likes
                </mat-radio-button>
                <mat-radio-button class="margin" value="sortByDislikes">
                  Dislikes
                </mat-radio-button>
        </mat-radio-group>
      </section>
    <div *ngFor="let post of postList">
        <mat-card>
            <mat-card-header>
                <mat-card-title class="title">{{post.title}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-icon matPrefix>person</mat-icon>{{post.author}}
                </mat-card-subtitle>
                <mat-card-subtitle>{{ post.createdOn | date: 'MMM d, y, hh:mm' }}</mat-card-subtitle>
                <mat-card-subtitle fxLayoutGap="15px">
                    <mat-icon matBadge={{post.likes}} matBadgeColor="accent">thumb_up</mat-icon>
                    <mat-icon matBadge={{post.dislikes}} matBadgeColor="primary">thumb_down</mat-icon>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>{{(post.text.length> 100)? (post.text | slice:0:200)+'...':(post.text)}}</mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="getItemInfo(post.id)">View</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>