.material-icons {
  vertical-align: middle;
  font-size: 22px;
  background-color: none;
}

mat-card {
  width: 500px;
}

p {
  margin-left:0; 
  margin-right:20px;
  margin-top: 80px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.margin {
  margin-right: 12px;
}
