.example-card {
  max-width: max-content;
  margin-top: 5%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.title {
  margin-top: 5%;
}


.author{
   display: inline-flex;
   vertical-align: middle;
   font-size: 22px;
}

.material-icons {
    vertical-align: middle;
    font-size: 22px;
    background-color: none;
  }
