<section>
    <form (ngSubmit)="createPost()" [formGroup]="createPostForm" fxLayout="column" fxLayoutAlign="center center"
        fxLayoutGap="20px">
        <div class="header">
            <h1 class="page-title-h">Create Post</h1>
        </div>

        <label>Image</label>
        <input type="file" (change)="detectImage($event)" accept=".png,.jpg" />
        <mat-hint>Please select an image. Allowed types are .png and .jpg.</mat-hint>
        <p>
            <mat-form-field hintLabel="Title must be between 6 and 150 characters" appearance="outline">
                <textarea formControlName="title" matInput type="text" placeholder="Title" #title maxlength="150"
                    rows="3"></textarea>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-hint align="end">{{title.value?.length || 0}}/150</mat-hint>
                <mat-error *ngIf="createPostForm.controls.title.hasError('required')">Required field!</mat-error>
                <mat-error *ngIf="createPostForm.controls.title.hasError('minlength') || 
                createPostForm.controls.title.hasError('maxlength')">Title must be between 6 and 150 characters!
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field hintLabel="Text must be between 10 and 4000 characters" appearance="outline">
                <textarea formControlName="text" matInput placeholder="Enter your text here..." #text maxlength="4000"
                    rows="20"></textarea>
                <mat-icon matSuffix>mode_edit</mat-icon>
                <mat-hint align="end">{{text.value?.length || 0}}/4000</mat-hint>
                <mat-error *ngIf="createPostForm.controls.text.hasError('required')">Required field!</mat-error>
                <mat-error *ngIf="createPostForm.controls.text.hasError('minlength') ||
                createPostForm.controls.text.hasError('maxlength')">Text must be between 10 and 4000 characters!
                </mat-error>
            </mat-form-field>
        </p>
        <button color="primary" mat-raised-button [disabled]="createPostForm.invalid" type="submit">Publish</button>
    </form>

</section>