/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import "~bootstrap/dist/css/bootstrap.css";


.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

@-webkit-keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #39c69f, 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.5), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.7), 1.8em -1.8em 0 0em #39c69f, 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.5), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.7), 2.5em 0em 0 0em #39c69f, 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.5), 2.5em 0em 0 0em rgba(57, 198, 159, 0.7), 1.75em 1.75em 0 0em #39c69f, 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.5), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.7), 0em 2.5em 0 0em #39c69f, -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.5), 0em 2.5em 0 0em rgba(57, 198, 159, 0.7), -1.8em 1.8em 0 0em #39c69f, -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.5), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.7), -2.6em 0em 0 0em #39c69f, -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.5), -2.6em 0em 0 0em rgba(57, 198, 159, 0.7), -1.8em -1.8em 0 0em #39c69f;
  }
}

@keyframes load5 {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #39c69f, 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.5), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.7), 1.8em -1.8em 0 0em #39c69f, 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.5), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.7), 2.5em 0em 0 0em #39c69f, 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.5), 2.5em 0em 0 0em rgba(57, 198, 159, 0.7), 1.75em 1.75em 0 0em #39c69f, 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.5), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.7), 0em 2.5em 0 0em #39c69f, -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.2), -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.5), 0em 2.5em 0 0em rgba(57, 198, 159, 0.7), -1.8em 1.8em 0 0em #39c69f, -2.6em 0em 0 0em rgba(57, 198, 159, 0.2), -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.5), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.7), -2.6em 0em 0 0em #39c69f, -1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(57, 198, 159, 0.2), 1.8em -1.8em 0 0em rgba(57, 198, 159, 0.2), 2.5em 0em 0 0em rgba(57, 198, 159, 0.2), 1.75em 1.75em 0 0em rgba(57, 198, 159, 0.2), 0em 2.5em 0 0em rgba(57, 198, 159, 0.2), -1.8em 1.8em 0 0em rgba(57, 198, 159, 0.5), -2.6em 0em 0 0em rgba(57, 198, 159, 0.7), -1.8em -1.8em 0 0em #39c69f;
  }
}

body {
  // background:white;
  // background: radial-gradient(circle, rgba(241, 250, 242, 1) 0%, rgba(215, 230, 249, 1) 100%) !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

.right-align {
  align-content: flex-end;
  right: 0px;
  width: auto;
  flex-direction: column-reverse;
  justify-content: flex-end;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(155, 145, 161);
  color: white;
  text-align: center;
}

.page-title-h {
  color: #2b7e9e;
  margin-top: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.page-title-p {
  color: #513670;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.title-div {
  margin-top: 5%;
}

mat-sidenav {
  background-color: rgb(127, 81, 187) !important;

}

main {
  margin-bottom: 100px;
}

// .scrollable {
//   overflow: auto;
//   max-height: 100vh;
//   background-color: white;
// }

mat-sidenav-content {
  background-color: white;
  overflow: auto !important;
  max-height: 100vh;
}

mat-icon.success {
  color: teal;
}

mat-icon.accentB {
  color: rgb(20, 36, 184);
}

.mat-raised-button.mat-blue {
  background-color: blue;
  color: white;
}

.mat-icon.mat-white {
  color: white;
}

.mat-raised-button.mat-green {
  background-color: green;
  color: white;
}

.mat-icon.mat-blue {
  color: rgb(20, 36, 184);
}

.mat-card-header-text{
  width: 100% !important;
}

.mat-fab.mat-pink {
  background-color: rgb(240, 109, 229);
  color: white;
}

.mat-fab.mat-aqua {
  background-color: rgb(37, 160, 139);
  color: white;
}

.mat-icon.mat-pink{
  color: rgb(240, 109, 229);
}


.center{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

